/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0000cd;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.title {
  margin-left: 50px;
}

.titleLogo {
  color: #ffffff;
  text-decoration: none;
}

.navigation {
  display: flex;
}

.userNav {
  display: flex;
}

.guestNav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.userNav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.post {
  text-decoration: none;
  color: #ffffff;
}

.post:hover {
  color: #000;
}

.buttons {
  padding-left: 20px;
}

.logoutButton {
  color: #0000cd;
  padding: 5px 10px;
  height: auto;
  background-color: #b0c4de;
  border: none;
  border-radius: 10px;
}

.mypageButton {
    color: #0000cd;
    padding: 5px 10px;
    height: auto;
    background-color: #b0c4de;
    border: none;
    border-radius: 10px;
}

.loginButton {
  color: #0000cd;
  padding: 5px 10px;
  height: auto;
  background-color: #b0c4de;
  border: none;
  border-radius: 10px;
}

.loginButton:hover {
  color: #000;
  background: #f0f8ff;
}

.signupButton {
  color: #0000cd;
  padding: 5px 10px;
  height: auto;
  background-color: #f0e68c;
  border: none;
  border-radius: 10px;
}

.signupButton:hover {
  background-color: #fafad2;
}

.footer {
  background-color: #0000cd;
  color: #ffffff;
  text-align: center;
}
